<nb-card>
  <nb-card-header>
    Danh sách Account
  </nb-card-header>
  <nb-card-body>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group input-group-border-only">
        <input type="text" placeholder="Email" class="form-control" [(ngModel)]="search" (input)="onEmailSearch($event.target.value)" />
      </div>
      <div class="col-sm-6 btn-group btn-divided-group">
        <button class="btn btn-hero-primary btn-with-icon" (click)="reset()"><i class="ion-refresh"></i> Reset </button>
        <button class="btn btn-hero-success btn-with-icon" (click)="addUser()"><i class="ion-plus-round"></i> Add User</button>
      </div>
    </div>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <ngx-table [configuration]="configuration"
               [data]="rows"
               [columns]="columns"
               [pagination]="pagination"
               (event)="eventEmitted($event)">
      <ng-template let-row>
        <td class="td-action">
          <a class="button-action button-edit" (click)="editClick(row.username)"><i class="nb-edit"></i></a>
          <a class="button-action button-delete" (click)="deleteClick(row.username)"><i class="nb-trash"></i></a>
        </td>
        <td>
          <div class="font-small">{{row.username}}</div>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="row.online" (click)="changeActive(row.username, row.role, row.online)">
            <span></span>
          </label>
        </td>
      </ng-template>
    </ngx-table>

  </nb-card-body>
</nb-card>
