nb-card {
  transform: translate3d(0, 0, 0);
}

:host /deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
}

:host /deep/ ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
