@using Web.ViewModels
@using Web.App_GlobalResources
<div class="kt-tabs style3 kt-tab-fadeeffect kt-banner block-banner-text style3 margin-top-30" data-height="293" data-positionright="40" data-verticalmiddle="middle">
    @Html.Raw(Model.ToString())
</div>




