@using Web.ViewModels
<div class="container">
    <div class="row margin-0">
        <div class="col-md-12 col-lg-3 padding-0"></div>
        <div class="col-md-12 col-lg-9 padding-0">
            <div class="kt_home_slide slide-home2 nav-center nav-style1" data-nav="true" data-autoplay="true" data-loop="true" data-animateout="fadeOut" data-animatein="fadeIn" data-responsive='{"0":{"items":1,"nav":"false"},"600":{"items":1},"1000":{"items":1}}'>
                @Html.Raw(Model.Slide_content1)
            </div>
        </div>
    </div>
</div>