@using Web.ViewModels
@using Web.App_GlobalResources
<script src="/Scripts/youmax-master/js/youmax.js"></script>
<link rel="stylesheet" href="/Scripts/youmax-master/css/youmax.css" />
    <div id="youmax"></div>
   
    <script>
		$('#youmax').youmax({
			apiKey:'AIzaSyAlhAqP5RS7Gxwg_0r_rh9jOv_5WfaJgXw',
		    youTubeChannelURL: "https://www.youtube.com/channel/UCF4vuWCBHajKtzRRatTJWrw",
			youTubePlaylistURL:"",
			youmaxDefaultTab:"UPLOADS",
			youmaxColumns:3,
			showVideoInLightbox:false,
			maxResults: 9,
		});
    </script>
