a,
.top-bar-menu .sub-menu>li>a:hover,
.top-bar-menu>li>a:hover,
.top-bar-left .btn-search:hover,
.mini-cart-content .item-cart .product-name a:hover,
.main-menu>li>a:hover,
.main-menu .sub-menu>li>a:hover,
.product-item .product-name a:hover,
.widget_product_categories ul>li>a:hover,
.widget_layered_nav ul>li>a:hover,
.widget_product_categories ul>li.current-cat>a,
.breadcrumbs a:hover,
table.cart .product-info .product-name a:hover,
.post-item .post-title a:hover,
.widget_kt_recent_posts .post-title a:hover,
.widget_categories ul li a:hover,
.widget_archive li a:hover,
.blog-single-footer a:hover,
.block-promotion .content .link-more:hover,
.block-daily-deal .product-info .product-name a:hover,
.lasttest-blog .blog-info .title a:hover,
.verticalmenu-list>li>a:hover,
.kt-tabs .nav-tab li:hover a,
.kt-tabs .nav-tab li.active a,
.megamenu .widget_nav_menu li>a:hover,
.verticalmenu-list .sub-menu>li>a:hover,
.wishlist-item .product-name a:hover,
.table-compare a:hover,
.main-header-menu li a:hover,
.footer.style3 .widget li>a:hover,
.box-category-products .box-footer .more:hover,
.box-icon.style4:hover .title, .box-icon.style4:hover .icon,
.header.style4 .top-bar-menu>li>a:hover, 
.header.style4 .top-bar-menu>li>a:hover .menu-icon,
.header.style7 .header-right-control .compare:hover,
.header.style7 .header-right-control .wishlist:hover,
.header.style7 .main-header .mini-cart .cart-link:hover,
.footer.style4 a:hover,
.footer.style4 .widget li>a:hover{
    color: #eec15b;
}

.box-setting-content .box-section.currency .inner a:hover,
.box-setting-content .box-section.currency .inner a.current,
.product-item .wishlist:hover,
.product-item .add_to_cart_button:hover,
.product-item .compare:hover,
.product-item .button.quick-view:hover,
.navigation ul li span:hover,
.navigation ul li a:hover,
.navigation ul li .current,
.shop-display-mode .display-mode:hover,
.shop-display-mode .display-mode.active,
.chosen-container .chosen-results li.highlighted,
.nav-center .owl-prev:hover,
.nav-center .owl-next:hover,
.button:hover, 
input[type="submit"]:hover,
button,
.button.primary,
.single_add_to_cart_button,
.single-product .summary .button.wishlist:hover,
.single-product .summary .button.compare:hover,
.single-product .summary .button.mailto:hover,
.tagcloud a:hover,
.block-social .social a:hover,
.box-icon:hover:hover .icon,
.lasttest-blog .blog-buttom .button:hover,
.footer-social .social a:hover,
.footer .kt_widget_social .social a:hover,
.header.style3 .main-menu>li:hover>a,
.header.style3 .main-menu>li.active>a,
.kt-tabs .tab-title:after,
.team .social a:hover,
.block-box .block-head .title:after,
.header.style5 .box-vertical-megamenus .title,
.footer.style3 .kt_widget_newsletter .button,
.scroll_top,
.header.style7 .main-header .mini-cart .cart-link .count,
.header.style7 .box-vertical-megamenus .title,
.heading-section.style3 .title:after,
.product-item .product-count-down .box-count,
.product-item .discount,
.nav-style-7 .owl-prev:hover,
.nav-style-7 .owl-next:hover,
.footer.style4 .kt_widget_newsletter .button{
    background-color: #eec15b;
}

.button:hover, 
input[type="submit"]:hover,
button,
.button.primary,
.single_add_to_cart_button,
.tagcloud a:hover,
blockquote,
.block-promotion .content .link-more:hover,
.slide-home5 .owl-next:hover,
.slide-home5 .owl-prev:hover,
.header.style5 .advanced-search,
.box-icon.style4:hover,
.header.style7 .advanced-search,
.nav-style-7 .owl-prev:hover,
.nav-style-7 .owl-next:hover,
.footer.style4 .kt_widget_social .social a:hover{
	border-color: #eec15b;
}
