<nb-card>
  <nb-card-header>
    Danh sách Admin Pages {{parentName}}
  </nb-card-header>
  <nb-card-body>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group input-group-border-only">
        <input type="text" placeholder="Tiêu đề" class="form-control" [(ngModel)]="search" (input)="onTitleSearch($event.target.value)" />
      </div>
      <div class="col-sm-6 btn-group btn-divided-group">
        <button class="btn btn-hero-primary btn-with-icon" (click)="reset()"><i class="ion-refresh"></i> Reset </button>
        <button class="btn btn-hero-success btn-with-icon" (click)="addClick()"><i class="ion-plus-round"></i> Tạo mới</button>
        <button *ngIf="isShowBack" class="btn btn-hero-info btn-with-icon" (click)="ListChildClick(oldNode, node)"><i class="ion-arrow-left-c"></i>Quay lại</button>
      </div>
    </div>

    <ngx-table [configuration]="configuration"
               [data]="data"
               [columns]="columns"
               [pagination]="pagination"
               (event)="eventEmitted($event)">
      <ng-template let-row>
        <td class="td-action">
          <a class="button-action button-view" nbPopover="Xem" nbPopoverMode="hover" (click)="viewClick(row.id)"><i class="ion-eye"></i></a>
          <a class="button-action button-edit" nbPopover="Chỉnh sửa" nbPopoverMode="hover" (click)="editClick(row.id)"><i class="nb-edit"></i></a>
          <a class="button-action button-delete" nbPopover="Xóa" nbPopoverMode="hover" (click)="showDeleteConfirm(row.id, row.title)"><i class="nb-trash"></i></a>
        </td>
        <td><a class="button-view font-small" nbPopover="Xem page con" nbPopoverMode="hover" (click)="ListChildClick(row.parentId, row.id)">{{row.title}}</a> </td>
        <td *ngIf="row.parentId != 0">{{row.title}} </td>
        <td>
          <div class="font-small">{{row.path}}</div>  
        </td>
        <td>
          <div class="font-small">{{row.tye}}</div>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="row.isShow" (click)="showChangeActiveConfirm(row.id, row.isShow, row.title)">
            <span></span>
          </label>
        </td>
      </ng-template>
    </ngx-table>

  </nb-card-body>
</nb-card>
