<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Login Information</nb-card-header>
      <nb-card-body>

        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">Current Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="userDetail.oldPassword" placeholder="Current password">
            <label class="text-danger validateServer" id="username-validate"></label>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">New password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userDetail.password" placeholder="New password">
            <label class="text-danger validateServer" id="password-validate"></label>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="userDetail.confirmPassword" placeholder="Confirm password">
            <label class="text-danger validateServer" id="confirmPassword-validate"></label>
          </div>
        </div>         

      </nb-card-body>
    </nb-card>
  </div>
  
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>

        <div class="form-inline">
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9 btn-group btn-divided-group">
              <button type="button" class="btn btn-hero-primary btn-with-icon" (click)="backclick()"><i class="ion-arrow-left-c"></i> Back</button>
              <button type="submit" class="btn btn-hero-success btn-with-icon" (click)="nextclick()">Next <i class="ion-arrow-right-c"></i></button>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [attr.toasterconfig]="config"></toaster-container>

