@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web.ViewModels

@{Html.RenderAction("breadcrumbs", "control", new { str_breadcrumbs = ViewBag.str_breadcrumbs });}
<div class="vk-restaurant-content">
    @Html.Raw(Model.C_pages.PageContent)
</div>
