@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("slide", "control");}

<div class="clearfix"></div>

@{Html.RenderAction("input_email", "control");}

@{Html.RenderAction("about_short", "control");}

<div class="clearfix"></div>

@{Html.RenderAction("testimonials", "control");}

@{Html.RenderAction("product_list_hot", "product");}

@{Html.RenderAction("post_list_hot", "news");}

@{Html.RenderAction("contact_map", "control");}

@*@{Html.RenderAction("post_category_host", "news");}*@

@*@{Html.RenderAction("product_category_hot", "product");}*@

@*@{Html.RenderAction("ad_bottom_left", "control");}*@

@*@{Html.RenderAction("ad_bottom", "control");}*@

@*@{Html.RenderAction("Product_list_sale", "product");}*@
