<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      <remove name="WebDAV" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\ApiBase.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>
<!--ProjectGuid: 590d34b9-8b9c-4fb7-a2c0-0244ab084d69-->