@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="main-container no-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 main-content">
                    <div class="text-center page-404">
                        <h1 class="heading">404</h1>
                        <h2 class="title">Oops! That page can't be found.</h2>
                        <p>Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
                        @*<a class="button primary" href="/">Go to Home</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>