@{
    Layout = "~/Areas/admin/Views/Shared/_Layout_No_Login.cshtml";
}
@using Web.ViewModels
@using Web.App_GlobalResources
@model Web.Areas.Admin.ViewModels.Login_view
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                Quên mật khẩu
            </h4>
            <div class="space-6"></div>
            <span class="text-error">@Model.Message</span>
            @using (Html.BeginForm(Model.Parent_action, Model.Parent_controller, FormMethod.Post, new { id = "forgot_password_form", enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <label>
                        <span class="block input-icon input-icon-right">
                            <input type="text" id="user_name" name="user_name" class="span12" placeholder="Username" />
                            <i class="icon-user"></i>
                        </span>
                    </label>                   

                    <div class="space"></div>

                    <div class="clearfix">
                        <button type="submit" class="width-35 pull-right btn btn-small btn-primary">
                            <i class="icon-key"></i>
                            Gửi
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }
        </div><!--/widget-main-->

        <div class="toolbar clearfix">
            <div>
                <a href="@Url.Action("login", "dashboard", new { area = "admin" })" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    Đăng nhập
                </a>
            </div>
        </div>
    </div><!--/widget-body-->
</div><!--/login-box-->
<script type="text/javascript">
    $(function () {
        ////from validate
        $("#forgot_password_form").validate({
            errorElement: 'span',
            errorClass: "error",
            errorPlacement: function (error, element, value) {
                error.appendTo(element.parent('div:first'));
                element.parents('div:first').addClass("error");
            },
            rules: {
                user_name: {
                    text_validate_default: true
                },
                password: {
                    text_validate_default: true
                }
            },
            messages: {
                user_name: {
                    text_validate_default: ""
                },
                password: {
                    text_validate_default: ""
                }
            }
        });
    });
</script>



