<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>User Information</nb-card-header>
      <nb-card-body>

        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">Email (UserName)</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="username" name="username" [(ngModel)]="userDetail.username" [attr.disabled]="isCreate == false ? true : null" placeholder="Email">
            <label class="text-danger validateServer" id="username-validate"></label>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userDetail.password" [attr.disabled]="isCreate == false ? true : null" placeholder="password">
            <label class="text-danger validateServer" id="password-validate"></label>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="userDetail.confirmPassword" [attr.disabled]="isCreate == false ? true : null" placeholder="Confirm password">
            <label class="text-danger validateServer" id="confirmPassword-validate"></label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">Active</label>
          <div class="col-sm-9">
            <label class="switch">
              <input type="checkbox" [checked]="userDetail.online" [(ngModel)]="userDetail.online">
              <span></span>
            </label>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Other Infor</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="userProfile.fname" placeholder="First Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="userProfile.lname" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="userProfile.phone" placeholder="Phone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="userProfile.address" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="birthday">Birthday</label>
              <ng-datepicker id="birthday" name="birthday" [(ngModel)]="userProfile.birthday" [options]="options"></ng-datepicker>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="hidden" class="form-control" id="avatar" name="avatar" [(ngModel)]="userProfile.avatar" placeholder="Avatar">
              <input type="file" id="avatarFile" name="avatarFile" [hidden]="true" (change)="onFileChanged($event)" />
              <img id="avatarImage" name="avatarImage" class="avatar_image" *ngIf="avatarUrl != ''" src="{{avatarUrl}}" onclick='document.getElementById("avatarFile").click();' nbPopover="Click here to change avatar" nbPopoverMode="hover" />
              <a id="avatarDelete" name="avatarDelete" class="button-action button-delete btn-icon" nbPopover="Xóa avatar" nbPopoverMode="hover" (click)="showDeleteAvatarConfirm()"><i class="nb-close"></i></a>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-header>
    Danh sách quyền của user
  </nb-card-header>
  <nb-card-body>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group input-group-border-only">
        <input type="text" placeholder="Email" class="form-control" [(ngModel)]="search" (input)="onEmailSearch($event.target.value)" />
      </div>
      <div class="col-sm-6 btn-group btn-divided-group">
        <button class="btn btn-hero-primary btn-with-icon" (click)="reset()"><i class="ion-refresh"></i> Reset </button>
        <button class="btn btn-hero-success btn-with-icon" (click)="updatePermission()"><i class="ion-plus-round"></i> Cập nhật</button>
      </div>
    </div>

    <ngx-table [configuration]="configuration"
               [data]="rows"
               [columns]="columns"
               [pagination]="pagination"
               (event)="eventEmitted($event)">
      <ng-template let-row>
        <td>
          <i class={{row.classLevel}}></i>
          <a *ngIf="row.parentId == 0" class="button-view font-w-bold">{{row.title}}</a>
          <a *ngIf="row.parentId != 0" class="button-view font-small">
              <span>{{row.title}}</span> 
          </a>
        </td>
        <td>
          <label class="control control--checkbox">
            All
            <input type="checkbox" (change)="changePermission(row.pageId)" [checked]="row.isCheckAll" [id]="row.pageId"/>
            <div class="control__indicator"></div>
          </label>
        </td>
        <td>
          <div *ngIf="row.parentId != 0">
            <div class="control-group">
              <label *ngFor="let userPageAction of row.listUserPageAction" class="control control--checkbox">
                {{userPageAction.actionName}}
                <input type="checkbox" [checked]="userPageAction.active" (click)="changePermissionChild(row.pageId, userPageAction.active)" [(ngModel)]="userPageAction.active" />
                <div class="control__indicator"></div>
              </label>
            </div>
          </div>
        </td>
        <td></td>
      </ng-template>
    </ngx-table>

  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>

        <div class="form-inline">
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9 btn-group btn-divided-group">
              <button type="button" class="btn btn-hero-primary btn-with-icon" (click)="backclick()"><i class="ion-arrow-left-c"></i> Back</button>
              <button type="submit" class="btn btn-hero-success btn-with-icon" (click)="nextclick()">Next <i class="ion-arrow-right-c"></i></button>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

