.flex-centered {
  margin: auto;
}

.flex-centered img {
  display: block;
  margin: 30px auto;
}

nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  margin-bottom: 2rem;
}
